html {
  box-sizing: border-box;
}

body {
  font-size: $fontSizeCommon;
  font-family: $fontFamily;
  font-weight: $fontWeightNormal;
  background: white;
  min-width: 320px;
}

article {
  //border: 1px solid transparent;
}