.button {
  display: block;
  font-size: $buttonFontSize;
  font-weight: $buttonFontWeight;
  line-height: $buttonTextLineHeight;
  white-space: nowrap;
  position: relative;
  width: max-content;
  height: max-content;
  text-align: center;
  padding: 20px 40px;
  background-color: transparent;
  z-index: 10;
  filter: drop-shadow(0px -4px 4px rgba(255, 0, 245, 0.25)) drop-shadow(0px 4px 4px rgba(34, 218, 229, 0.25));
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
  
  &::before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(141.95deg, #FF00F5 14.92%, #00F0FF 84.27%);
    border-radius: 16px;
    z-index: -3;
  }

  &::after {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    z-index: -2;
    margin: 4px;
    border-radius: 12px;    
  }

  &_form_circle {
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      border-radius: 100px;
    }

    &::after {
      border-radius: 100px;
    }
  }

  &_theme {
    position: relative;

    &_light {
      color: black;
    }

    &_light::after {
      background: white;
    }

    &_dark {
      color: white;
    }

    &_dark::after {
      background: black;
    }

    &_image {
      &::after {
        background-image: url("../../images/buttons/bg_space.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  &_type {
    &_ios, &_android {
      padding: 5px 0 5px 35px;
      display: inline-block;
      width: min-content;
      height: max-content;
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 27px;
    }

    &_ios {
      background-image: url('../../images/buttons/type_ios.svg');;
    }

    &_android {
      background-image: url('../../images/buttons/type_android.svg');
    }
  }

  &__play-video {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../../images/buttons/button-play.svg");
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 23px center;
  }
}

@media screen and (max-width: $breakpoint_lg) {
  .button {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
  }
}

@media screen and (max-width: $breakpoint_md - 1) {
  .button {
    min-width: 250px;
    padding: 9px 0;

    &::after {
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      margin: 2px;
    }

    &_form_circle {
      min-width: 60px;
      max-width: 60px;
      min-height: 60px;
      max-height: 60px;
      padding: 0;
    }
  }
}

@media screen and (max-width: $breakpoint_sm) {
  .button {
    //max-width: 100%;
  }
}