.startups{
    background: black;
    color: white;
}

.lead{
    display: flex;
    align-items: center;
    padding-bottom: 200px;
  
}
.lead__texts{
    display: flex;
    flex-direction: column;
    width: 914px;
    height: 519px;
}
.lead__title{
font-weight: 300;
font-size: 72px;
line-height: 87px;
color: #FFFFFF;
margin-top: 0px;
width:1000px;
text-transform: uppercase;
}
.lead__text{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 0px;
}

.lead__images{
    display: flex;
    justify-content: space-between;

   
}


.lead__image{
    margin-top: 240px;
    margin-left: -200px;
    
}


.lead__button{
    width: 669px;
    height: 70px;
    display: flex;
    margin-top: 50px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
    

    &__lead-android{
      width: 343px;
      height: 70px;
      display: flex;
      flex-direction: row-reverse;
      column-gap: 10px;
      justify-content: center;
      align-items: center;
      filter: drop-shadow(0px -4px 4px rgba(255, 0, 245, 0.25)) drop-shadow(0px 4px 4px rgba(34, 218, 229, 0.25));
      border-radius: 24px;
      background: linear-gradient(180deg, #28282C 0%, #000000 100%)black;
      color: white;
    }

    &__lead-ios{
        width: 343px;
        height: 70px;
        display: flex;
        flex-direction: row-reverse;
        column-gap: 10px;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(0px -4px 4px rgba(255, 0, 245, 0.25)) drop-shadow(0px 4px 4px rgba(34, 218, 229, 0.25));
        border-radius: 24px;
        background: linear-gradient(180deg, #28282C 0%, #000000 100%)black;
        color: white;
    }
}



// second page



.list{
    display: flex;
    justify-content: space-between;

}

.list__items{
    display: flex;
    justify-content: space-between;
}

.list__circles{
    display: flex;
    flex-direction: column;
    gap:60px;
    margin-top: 200px;
    
}



.list__circle{
    background: black;
    border-radius: 100%;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    width: 70px;
    height: 70px;
    font-size: 36px;
    font-weight: 600;
    
    

}


.text-list__list-item{
    list-style-type: none;
}

.list__texts{
    margin-top: 200px;
}

.list__image{
    margin-top: 120px;
}


.text-one{
    margin-top: -30px;
    margin-bottom: 55px;
}
.text-two{
    margin-bottom: 55px;
}

.text-three{
    margin-bottom: 55px;
}

.text-four{
    margin-bottom: 55px;
}

.number-two{
    margin-top: 40px;
}

.number-three{
    margin-top: 70px;
}

.number-four{
    margin-top: 10px
}


// third article

.frame{
    display: flex;
    margin-top: 140px;
    margin-bottom: 130px;
    gap: 80px;
}


.frame__text{
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    margin-top: 20px;
}



// Adaptive

@media only screen and (max-width:768px){
    
    .lead__images{
        display: flex;
       

    }

    .lead__image{
        max-width: 100%;
        object-fit: cover;
    }

}



