.dropdown-menu {
  position: relative;

  &::after {
    display: inline-block;
    position: absolute;
    margin-left: 5px;
    top: center;
    content: '+';
    transition-duration: 0.5s;
  }

  &:hover::after {
    content: '-';
    transform: rotate(0.5turn);
    transition-duration: 0.5s;
  }

  &__content {
    width: 100%;
    display: block;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    z-index: 10;
  }

  &:hover &__content {
    display: block;
    visibility: visible;
    opacity: 1;
    transition-duration: 0.5s;
    left: 0;
  }
}