@use '../../../assets/styles/abstracts/breakpoints' as breakpoints;

.home {

  /* ----------------------------------------------- */
  &__lead {
    padding: 55px 0;

    &-grid {
      display: grid;
      grid-template-columns: minmax(355px, 666px) minmax(240px, 1fr);
      max-height: 850px;
      grid-template-areas:
      "text image"
      "links image";

      & > * {
        //border: 1px solid white;
      }

      &-text-container {
        grid-area: text;
        margin: 0 30px 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      &-image-container {
        grid-area: image;
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }

      &-links-container {
        grid-area: links;
      }
    }

    &-text-section:first-of-type {
      margin-bottom: 100px;
    }

    &-image {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  /* ----------------------------------------------- */
  &__about {
    margin: 155px 0;
    
    &-grid {
      display: grid;
      grid-template-columns: minmax(340px, 1022px) minmax(324px, 500px);

      & > * {
        //border: 1px solid red;
      }

      &-text-container {
        display: flex;
        align-items: center;
      }

      &-image-container {
        display: flex;
        justify-content: center;
      }
    }

    &-content-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-right: 40px;
    }

    &-logo-wrapper {
      position: relative;
      height: 40px;
      margin-bottom: 70px;

      &::before {
        position: absolute;
        content: '';
        display: block;
        top: calc(100% / 2);
        left: -102%;
        overflow-x: hidden;
        height: 2px;
        width: 100%;
        background: black;
      }
    }

    &-logo {
      max-height: 100%;
      max-width: 245px;
      object-fit: contain;
    }

    &-text-wrapper {
      align-self: center;
      max-width: 750px;
    }

    &-text {
      font-size: 24px;
      line-height: 29px;
      padding: 0;
      margin: 0 0 19px;
      &:last-of-type {
        margin: 0;
      }
    }

    &-image {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: breakpoints.$breakpoint_xl - 1) {
  .home {
    &__lead {
      &-grid {
        grid-template-areas:
        "text image"
        "links links";
      }
    }
  }  
}

@media screen and (max-width: breakpoints.$breakpoint_md) {
  .home {
    &__lead {
      padding: 30px 0 49px 0;

      &-grid {
        grid-template-columns: 385px minmax(100px, 240px);
        max-height: 440px;
        
        &-text-container {
          justify-content: center;
          margin-bottom: 0;
        }
      }
      &-text-section:first-of-type {
        margin-bottom: 30px;
      }
    }

    /* ----------------------------------------------- */
    &__about {
      margin: 50px 0;

      &-grid-text-container {
        align-items: flex-start;
      }

      &-logo-wrapper {
        max-height: 30px;
        align-self: flex-end;
        margin-right: 50px;
        margin-bottom: 50px;

        &::before {
          left: -110%;
        }
      }

      &-content-wrapper {
        align-self: center;
      }

      &-text {
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        margin-bottom: 14px;
      }

      &-image {
        padding-top: 80px;
      }
    }
  }
}

@media screen and (max-width: breakpoints.$breakpoint_md - 1) {
  .home {
    &__lead {
      padding: 16px 0 27px 0;

      &-grid {
        grid-template-columns: 100%;
        max-height: max-content;
        grid-template-areas:
        "text"
        "image"
        "links";

        &-text-container {
          margin: 0 0 20px 0;
          align-items: center;
        }

        &-image-container  {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          padding-bottom: 65px;
          
          &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: 'Изменим мир вместе';
            color: white;
            display: block;
            text-transform: uppercase;
            width: 100%;
            text-align: center;
            font-size: 22px;
            line-height: 27px;
            margin-bottom: 20px;
          }
        }

        &-links-container {
          display: flex;
          justify-content: center;
        }
      }

      &-image {
        width: calc(100% / 2.6);
      }

      &-text-section {
        width: 290px;

        &:first-of-type {
          margin: 0;
        }
        &:last-of-type {
          display: none;
        }
      }
    }
  }
}