
.lead__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 16px;

  align-items: center;
  justify-content: center;
  background: black;
  // margin-bottom: 100px;
}
.lead__subtitle {
  font-size: 36px;
  line-height: 43px;
}
.lead__slogan {
  font-size: 36px;
  line-height: 43px;
  font-weight: 600;
  padding: 30px 0 0 0;
}

.lead-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
}
.lead__title {
  font-size: 72px;
  line-height: 87px;
  font-weight: 300;
}
.lead__subtitle {
  font-size: 36px;
  line-height: 43px;
  font-weight: 200;
}
.lead__slogan {
  font-size: 36px;
  line-height: 43px;
  font-weight: 600;
}
.lead__download-links-list {
  list-style: none;
  display: flex;
  margin: 20px 0 0;
  padding: 0;

    &-item {
      margin: 0 30px 0 0;
      padding: 10px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
.lead-list__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid rgb(146, 175, 221);
  border-radius: 10px;
  list-style: none;
  padding: 10px;
  margin: 5px;
}
.lead-list__link {
  text-decoration: none;
  color: white;
}
.lead__image {
  display: flex;
}
.lead__image__faq {
  position: absolute;
  right: 100px;
  top: 750px;
}
.description__line {
  position: absolute;
  left: 0;
  margin: 20px 0;
	width: 14%;
	border-bottom: 1px solid rgb(17, 16, 16);
}
.description-text  {
  display: flex;
  justify-content: space-around;
}
.description__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  max-width: 750px;
}
.description__subtitle {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}
.description-text {
  display: flex;
  align-items: center;
}
.apps-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  // display: grid; 
  // grid-template-columns: 1fr 1fr; 
  // grid-template-rows: 1fr 1fr; 
  // gap: 20px; 
  // grid-template-areas:  ". ." ". ."; 
  // justify-content: center;
}
@media all and (min-width: 40em) {
  .apps-list__item {
  width: 50%;
  }
}
@media all and (min-width: 60em) {
  .apps-list__item {
  width: 33.33%;
  }
}
.apps-list__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
  line-height: 29px;
  color: white;
  padding: 80px;
}
.apps-list__item-profile {
  background-image:url(Images/home/bg-lenta.png);

}
.apps-list__item-asap {
  background-image:url(Images/home/bg-asap.png);
  
}
.apps-list__item-meetnet {
  background-image:url(Images/home/bg-meetnet.png);

}
.apps-list__item-videos {
  background-image:url(Images/home/bg-videos.png);
  
}
.apps__title {
  font-size: 36px;
  line-height: 43px;
  font-weight: 600;
}
.apps__subtitle {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}
.apps__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
}
.apps__link {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: black;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}
.apps__link::after {
  content: '\2192';
  padding: 0 10px;
}
.anons {
  margin: 0 200px 0 200px;
}
.anons-list {
  display: flex;
  flex-direction: column;
  list-style: none; 
}
.anons-list__item {
  display: flex;
  border: 2px solid  #111112;
  border-radius: 20px;
  padding: 50px;
  margin: 40px 0;
}
.anons__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}
.anons__subtitle {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}
.anons__slogan__bold {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}
.anons__subtitle__bold {
  font-size: 36px;
  line-height: 43.57px;
}
.swiper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.swiper-wrapper {
  display: flex;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  background:rgb(21 21 52);
}
.swiper__section {
  margin: 30px 0;
}
.swiper__pause {
  display: flex;
  justify-content: flex-end;
  margin: 10px 100px 0 10px;
}
///button
.button {
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 30px;
  position: relative;
  width: max-content;
  height: max-content;
  padding: 20px 40px 20px 40px;
  background-color: transparent;
  z-index: 10;
  filter: drop-shadow(0px -4px 4px rgba(255, 0, 245, 0.25)) drop-shadow(0px 4px 4px rgba(34, 218, 229, 0.25));
  
  &::before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(141.95deg, #FF00F5 14.92%, #00F0FF 84.27%);
    border-radius: 24px;
    z-index: -10;
  }

  &::after {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    z-index: -2;
    margin: 4px;
    border-radius: 20px;    
  }

  &_form_circle {
    width: 60px;
    height: 60px;
    padding: 0;

    &::before {
      border-radius: 100px;
    }

    &::after {
      border-radius: 100px;
    }
  }

  &_theme {
    position: relative;

    &_light {
      color: black;
    }

    &_light::after {
      background: white;
    }

    &_dark {
      color: white;
    }

    &_dark::after {
      background: black;
    }
    &_image {

      &::after {
        // background-image: url("Images/home/сomponent 2.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  &_type {

    &_ios, &_android {
      padding-left: 78px;
    }
    
    &_ios::after, &_android::after {
      position: absolute;
      z-index: -1;
      background-image: url('Images/home/сomponent 2.svg');
      background-repeat: no-repeat;
      background-position: 34px center;
      background-size: 30px;
    }
  } 
}
// @use '../../../assets/styles/abstracts/breakpoints' as breakpoints;

// @media screen and  (max-width: breakpoints.$breakpoint_xl) {
// @media (max-width: 1600px) {
//   .lead__image__faq {
//     right: 60px;
//     top: 760px;
//   }
//   .description {
//     margin: 0 auto;
//   }
//   .description__line {
//     width: 5%;
//   }
//   .anons {
//     margin: 0 auto;
//   }
// }
// @media (max-width: 1440px) {
//   .lead__image__faq {
//     right: 30px;
//     top: 760px;
//   }
//   .description {
//     margin: 0 auto;
//   }
//   .description__line {
//     width: 5%;
//   }
//   .anons {
//     margin: 0 auto;
//   }
// }

// @media (max-width: 1240px) {
//   .lead__image__faq {
//     display: none;
//   }
// }

// @media (max-width: 768px) {
//   .apps-list-image {
//     width: 200px;
//   }

//   .image__svg {
//     width: 245px;
//   }
//   .lead__wrapper {
//     margin-bottom: 20px;
//   }
//   .lead__title {
//     font-size: 48px;
//     line-height: 58px;
//     font-weight: 300;
//     max-width: 300px;
//     margin: 90px 0 0 0;
//   }
//   .lead__subtitle {
//     font-size: 22px;
//     line-height: 26px;
//     font-weight: 400;
//     max-width: 300px;
//   }
//   .lead__slogan {
//     font-size: 28px;
//     line-height: 33px;
//     font-weight: 600;
//     max-width: 300px;
//     padding: 0;
//     margin-bottom: 50px;
//   }
//   .lead__image {
//     max-width: 300px;
//     max-height: 300px;
//   }
//   .lead__button {
//     margin-bottom: 30px;
//   }
//   .description-text {
//     margin: 40px 0 80px 0;
//   }
//   .description__content {
//     padding: 0 0 50px 50px;
//   }
//   .description__svg__logo {
//     width: 134px;
//     margin:0 20px 130px 0;
//     padding-left: 60px;
//   }
//   .description__svg {
//     width: 245px;
//   }
//   .description__image {
//     max-width: 300px;
//   }
//   .description__image__image {
//     width: 300px;
//     margin-top: 120px;
//   }
//   .description__subtitle {
//     font-size: 18px;
//     line-height: 21px;
//     font-weight: 600;
//     margin: 5px 0;
//   }
//   .description__line {
//     width: 11%;
//     border: 1px solid grey;
//     margin: 10px 0;
//   }
//   .apps-list__item {
//     padding: 0 90px;
//   }
//   .anons__content {
//     padding: 10px;
//     margin-right: 30px;
//   }
//   .apps__title,
//   .anons__subtitle__bold {
//     font-size: 22px;
//     line-height: 26px;
//     font-weight: 600;
//   }
//   .apps__subtitle,
//   .anons__subtitle {
//     font-size: 14px;
//     line-height: 17px;
//     font-weight: 400;
//   }
//   .apps__link,
//   .anons__slogan__bold {
//     font-size: 18px;
//     line-height: 22px;
//     font-weight: 600;
//   }
//   .anons-list__item {
//     margin: 20px 0;
//     padding: 20px
//   }
//   .anons__list {
//     list-style: none;
//     padding-left: 0;
//     font-size: 14px;
//     line-height: 17px;
//     font-weight: 400;
//   }
//   .button {
//     font-size: 20px;
//     line-height: 29px;
//     font-weight: 400;
//   }
//   .swiper {
//     width: 760px;
//     height: 315px;
//   }

// }

