//- Подключение макета
extends Views/layouts/default.pug

//- Инициализация переменных для использования в макете
block variables
  - const title = 'SFERA'
  - const description = 'Описание страницы'

//- Подключение индивидуального скрипта страницы
append script
  script(src=require('./main.js') defer)

//- Подключение уникального стиля страницы
append style
  link(href=require('./styles.scss') rel='stylesheet')

block content
  //- Верстать отсюда

<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Sfera, Мессенджер, Поиск работы, Вакансии, Сайт знакомств, Поиск друзей, Качественные звонки, Инвестирование, Цифровая экономика, Лента, Видео"/>
    <meta name="keywords" content="ASAP, Профиль, Лента, Видео, Videos, BlackBox, FindFriends, MeetNet, JobLite, Choose"/>
    <title>SFERA</title>
    <link rel="stylesheet" href="./css/style.css"/>
    <link rel="stylesheet" href="./css/style.card.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet"/>
  </head>
  <body>
    <div class="shadow-off"></div>
    <main>
      <div class="star-one"></div>
      <div class="star-two"></div>
      <section class="section">
        <figure class="section-first">
          <ul class="list-left">
            <li class="section-first-paragraf"><span class="section-first-color-sfera">SFERA</span> - это не только</li>
            <li class="link-list-left"><img class="link-list-left-one" src="z" alt=""/>Отличное качество звонков</li>
            <li class="link-list-left"><img class="link-list-left-one" src="image/general/4105933-check-checked-checklist-mark-tick-todo-list_113935.svg" alt=""/>Удобный поиск работы</li>
            <li class="link-list-left"><img class="link-list-left-one" src="image/general/4105933-check-checked-checklist-mark-tick-todo-list_113935.svg" alt=""/>Доступный сервис знакомств</li>
            <li class="link-list-left"><img class="link-list-left-one" src="image/general/4105933-check-checked-checklist-mark-tick-todo-list_113935.svg" alt=""/>Мгновенный поиск друзей</li>
            <li class="link-list-left-color">Все бесплатно и без рекламмы</li>
            <li class="section-button">
              <button class="button-android"><a class="provisions_android__links_link" href="https://play.google.com/store/apps/details?id=zone.sfera">СКАЧАТЬ ANDROID</a></button>
              <button class="button-iOS"><a class="provisions__links_link" href="https://apps.apple.com/app/sfera-project/id1498046044">СКАЧАТЬ iOS</a></button>
            </li>
          </ul>
        </figure>
        <div class="section-img"><span class="section-image-one"></span><span class="section-image-two"></span></div>
      </section>
      <div class="lightning"><img src="./image/1920/line.png" alt="image vector"/></div>
      <div class="star-three"></div>
      <div class="star-for"></div>
      <section class="section-two">
        <figure class="section-two-image"><span class="section-two-image-one"></span><span class="section-two-image-two"></span></figure>
        <div class="section-two-content"><span class="section-two-content-social-block-mobile">Новый мессенджер</span><span class="section-two-content-social-block">Социальная сеть</span><span class="section-two-content-message">Месcенджер</span><span class="section-two-content-number">ЦИФРОВАЯ<br/>ЭКОСИСТЕМА</span><span class="section-two-content-number-two">ЦИФРОВАЯ ЭКОСИСТЕМА</span><span class="section-two-content-social">Социальная сеть</span></div>
      </section>
      <section class="section-as" id="abot-us">
        <p class="section-as-heading">УЗНАЙТЕ <span class="section-as-heading-color">О НАС</span> БОЛЬШЕ</p>
        <div class="section-as-video">
          <iframe class="section-as-iframe-video" src="http://www.youtube.com/embed/SKOo0AYtYJg" frameborder="0" allowfullscreen=""></iframe>
        </div>
        <div class="star-five"></div>
      </section>
      <p class="about-as-heading"><span class="about-as-heading-color">БУДЬ ПЕРВЫМ</span> - ПОМОГИ НАМ <br/> ПРОТЕСТИРОВАТЬ ПРИЛОЖЕНИЕ</p>
      <section class="block-for">
        <article class="block-for-list">
          <ul class="list-left-for">
            <li>
              <button class="block-first-color">#Что нужно тестировать?</button>
            </li>
            <li class="link-list-left-for-li"><img class="link-list-left-for" src="image/general/4105933-check-checked-checklist-mark-tick-todo-list_113935.svg" alt=""/>Звонки</li>
            <li class="link-list-left-for-li"><img class="link-list-left-for" src="image/general/4105933-check-checked-checklist-mark-tick-todo-list_113935.svg" alt=""/>Отправка сообщений</li>
            <li class="link-list-left-for-li"><img class="link-list-left-for" src="image/general/4105933-check-checked-checklist-mark-tick-todo-list_113935.svg" alt=""/>Загрузка медиа</li>
            <li class="block-first-color-for">Пиши о проблемах в чат с основателем<br/>ID SFERA 100 100 000</li>
          </ul>
        </article>
        <article class="block-for-image"><span class="block-for-image-one"></span><span class="block-for-image-two"></span></article>
        <div class="star-six"></div>
      </section>
      <p class="about-as-heading">ЧТО ЕСТЬ <span class="about-as-heading-color"> УЖЕ СЕЙЧАС</span></p>
      <div class="star-seven"></div>
      <div class="star-eight"></div><img class="what-is-already-background" src="./image/1920/line.png" alt=""/>
      <div class="star-nine"></div>
      <div class="star-ten"></div>
      <section class="block-seven" id="download">
        <article><img class="block-seven-image" src="image/1920/SFERA-logo 3.png" alt="image sfera"/></article>
        <article>
          <div class="block-seven-paragraf">
            <div class="block-six"><a class="block-six-link" href="">#SFERA</a><a class="block-six-link" href="">#Мессенджер</a><a class="block-six-link" href="">#Сеть</a></div>
            <p class="block-seven-p">Присоединяйся</p>
            <p class="block-seven-text">SFERA находится в не политики.<br/>Мы считаем своим домом весь мир<br/>и хотим работать на благо всех людей <br/>на планете.</p>
            <p class="block-seven-text">Каждый сервис в системе, либо<br/>							полностью уникален, либо имеет<br/>							отличительные особенности в сравнении<br/>с аналогами.</p>
            <div class="block-seven-buttons">
              <button class="button-android"><a class="provisions_android__links_link" href="https://play.google.com/store/apps/details?id=zone.sfera">СКАЧАТЬ ANDROID</a></button>
              <button class="button-iOS"><a class="provisions__links_link" href="https://apps.apple.com/app/sfera-project/id1498046044">СКАЧАТЬ iOS</a></button>
            </div>
          </div>
        </article>
      </section>
      <section class="block-eight">
        <div class="star-eleven"></div>
        <p class="about-as-heading-last">МЫ НЕ БУДЕМ МЕНЯТЬ МИР<br/><span class="about-as-heading-color">МЫ ПЕРЕПИШЕМ КОД</span></p>
        <article class="block-eight-link-block">
          <button class="block-eight-link"><a href="https://sfera.zone/ru/" style="color:white">ПЕРЕЙТИ НА САЙТ SFERA</a></button>
        </article>
      </section>
    </main>
    <script src="js/main.js"></script>
  </body>
</html>