//- Подключение макета
extends Views/layouts/default.pug

//- Инициализация переменных для использования в макете
block variables
  - const title = 'SFERA'
  - const description = 'Описание страницы'

//- Подключение индивидуального скрипта страницы
append script
  script(src=require('./main.js') defer)

//- Подключение уникального стиля страницы
append style
  link(href=require('./styles.scss') rel='stylesheet')

block content
  //- Верстать отсюда

html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Sfera, Мессенджер, Поиск работы, Вакансии, Сайт знакомств, Поиск друзей, Качественные звонки, Инвестирование, Цифровая экономика, Лента, Видео')
    meta(name='keywords' content='ASAP, Профиль, Лента, Видео, Videos, BlackBox, FindFriends, MeetNet, JobLite, Choose')
    title SFERA
    link(rel='stylesheet' href='./css/style.css')
    link(rel='stylesheet' href='./css/style.card.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
  body
    .shadow-off
    main
      .star-one
      .star-two
      section.section
        figure.section-first
          ul.list-left
            li.section-first-paragraf
              span.section-first-color-sfera SFERA
              |  - это не только
            li.link-list-left
              img.link-list-left-one(src='z' alt='')
              | Отличное качество звонков
            li.link-list-left
              img.link-list-left-one(src='image/general/4105933-check-checked-checklist-mark-tick-todo-list_113935.svg' alt='')
              | Удобный поиск работы
            li.link-list-left
              img.link-list-left-one(src='image/general/4105933-check-checked-checklist-mark-tick-todo-list_113935.svg' alt='')
              | Доступный сервис знакомств
            li.link-list-left
              img.link-list-left-one(src='image/general/4105933-check-checked-checklist-mark-tick-todo-list_113935.svg' alt='')
              | Мгновенный поиск друзей
            li.link-list-left-color Все бесплатно и без рекламмы
            li.section-button
              button.button-android
                a.provisions_android__links_link(href='https://play.google.com/store/apps/details?id=zone.sfera') СКАЧАТЬ ANDROID
              button.button-iOS
                a.provisions__links_link(href='https://apps.apple.com/app/sfera-project/id1498046044') СКАЧАТЬ iOS
        .section-img
          span.section-image-one
          span.section-image-two
      .lightning
        img(src='./image/1920/line.png' alt='image vector')
      .star-three
      .star-for
      section.section-two
        figure.section-two-image
          span.section-two-image-one
          span.section-two-image-two
        .section-two-content
          span.section-two-content-social-block-mobile Новый мессенджер
          span.section-two-content-social-block Социальная сеть
          span.section-two-content-message Месcенджер
          span.section-two-content-number
            | ЦИФРОВАЯ
            br
            | ЭКОСИСТЕМА
          span.section-two-content-number-two ЦИФРОВАЯ ЭКОСИСТЕМА
          span.section-two-content-social Социальная сеть
      section#abot-us.section-as
        p.section-as-heading
          | УЗНАЙТЕ 
          span.section-as-heading-color О НАС
          |  БОЛЬШЕ
        .section-as-video
          iframe.section-as-iframe-video(src='http://www.youtube.com/embed/SKOo0AYtYJg' frameborder='0' allowfullscreen='')
        .star-five
      p.about-as-heading
        span.about-as-heading-color БУДЬ ПЕРВЫМ
        |  - ПОМОГИ НАМ 
        br
        |  ПРОТЕСТИРОВАТЬ ПРИЛОЖЕНИЕ
      section.block-for
        article.block-for-list
          ul.list-left-for
            li
              button.block-first-color #Что нужно тестировать?
            li.link-list-left-for-li
              img.link-list-left-for(src='image/general/4105933-check-checked-checklist-mark-tick-todo-list_113935.svg' alt='')
              | Звонки
            li.link-list-left-for-li
              img.link-list-left-for(src='image/general/4105933-check-checked-checklist-mark-tick-todo-list_113935.svg' alt='')
              | Отправка сообщений
            li.link-list-left-for-li
              img.link-list-left-for(src='image/general/4105933-check-checked-checklist-mark-tick-todo-list_113935.svg' alt='')
              | Загрузка медиа
            li.block-first-color-for
              | Пиши о проблемах в чат с основателем
              br
              | ID SFERA 100 100 000
        article.block-for-image
          span.block-for-image-one
          span.block-for-image-two
        .star-six
      p.about-as-heading
        | ЧТО ЕСТЬ 
        span.about-as-heading-color  УЖЕ СЕЙЧАС
      .star-seven
      .star-eight
      img.what-is-already-background(src='./image/1920/line.png' alt='')
      .star-nine
      .star-ten
      section#download.block-seven
        article
          img.block-seven-image(src='image/1920/SFERA-logo 3.png' alt='image sfera')
        article
          .block-seven-paragraf
            .block-six
              a.block-six-link(href='') #SFERA
              a.block-six-link(href='') #Мессенджер
              a.block-six-link(href='') #Сеть
            p.block-seven-p Присоединяйся
            p.block-seven-text
              | SFERA находится в не политики.
              br
              | Мы считаем своим домом весь мир
              br
              | и хотим работать на благо всех людей 
              br
              | на планете.
            p.block-seven-text
              | Каждый сервис в системе, либо
              br
              | полностью уникален, либо имеет
              br
              | отличительные особенности в сравнении
              br
              | с аналогами.
            .block-seven-buttons
              button.button-android
                a.provisions_android__links_link(href='https://play.google.com/store/apps/details?id=zone.sfera') СКАЧАТЬ ANDROID
              button.button-iOS
                a.provisions__links_link(href='https://apps.apple.com/app/sfera-project/id1498046044') СКАЧАТЬ iOS
      section.block-eight
        .star-eleven
        p.about-as-heading-last
          | МЫ НЕ БУДЕМ МЕНЯТЬ МИР
          br
          span.about-as-heading-color МЫ ПЕРЕПИШЕМ КОД
        article.block-eight-link-block
          button.block-eight-link
            a(href='https://sfera.zone/ru/' style='color:white') ПЕРЕЙТИ НА САЙТ SFERA
    script(src='js/main.js')
