.header__nav {
  display: flex;
  align-items: center;
  height: 120px;
}
.link-list__item__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.link-list__item {
  padding: 0 10px;
}
.link-list__item__video {
  padding: 0 20px;
}
.link-list__item__leng {
  display: flex;
  justify-content: end;
}
.nav-list-togle {
  display: block;
  list-style: none;
}