.main-nav {
  display: flex;
  justify-content: right;
  align-items: center;

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    font-size: 16px;
    line-height: 19px;
    font-weight: $fontWeightMedium;
    margin: 0;
    padding: 20px 20px 18px 20px;
    border-bottom: 1px solid transparent;
    background-color: black;

    &:hover {
      border-bottom: 2px solid transparent;
      border-image: linear-gradient(141.95deg, #FF00F5 14.92%, #00F0FF 84.27%) 40;
    }
  }

  &__link {
    color: white;
    text-decoration: none;
  }

  &__dropdown-menu {
    padding-right: 30px;
  }

  &__submenu-list {
    width: calc(100% + 40px);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: rgba(0 0 0 / 75%);
    padding-bottom: 10px;
  }

  &__submenu-list > &__item {
    //text-align: center;
    background-color: transparent;
    padding: 20px 10px 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 2px solid transparent;
  }
}