footer.footer.section.section_theme_dark(role="footer")
  .footer__container.section__wrapper
    .footer__links
      .footer__contacts
        h2.footer__title Контакты
        ul.contacts-list
          li.contacts-list__item
            | По общим вопросам: 
            a.link.link_theme_dark.contacts-list__link(href="mailto:info@sfera.zone") info@sfera.zone
          li.contacts-list__item
            | Для инвесторов: 
            a.link.link_theme_dark.contacts-list__link(href="invest@sfera.zone") invest@sfera.zone
          li.contacts-list__item
            | По вопросам работы: 
            a.link.link_theme_dark.contacts-list__link(href="rabota@sfera.zone") rabota@sfera.zone
          li.contacts-list__item
            | WhatsApp основателя: 
            a.link.link_theme_dark.contacts-list__link.nowrap(href="https://api.whatsapp.com/send/?phone=420774715626") +420 776 419 030
    .footer__download-links
      ul.download-links-list
        li.download-links-list__item
          a.download-links-list__link.button.button_theme_dark.button__downloads_android Скачать на Android 
        li.download-links-list__item
          a.download-links-list__link.button.button_theme_dark.button__downloads_ios Скачать на iOs
    .footer__social-links
      ul.socials-list
        li.socials-list__item
          a.socials-list__link.socials-list_type_youtube(href="#" title="Наш канал в Ютубе") YouTube
        li.socials-list__item
          a.socials-list__link.socials-list_type_tiktok(href="#" title="Мы в ТикТоке") TikTok 
        li.socials-list__item
          a.socials-list__link.socials-list_type_instagram(href="#" title="Наш Инстаграм") Instagram 
        li.socials-list__item
          a.socials-list__link.socials-list_type_vk(href="#" title="Мы ВКонтакте") VKontakte
    .copyright
      p.copyright__text © Copyright 2019-2022 
        a.link.link_theme_dark(href="https://sfera.zone") https://sfera.zone
        |  — Проект SFERA | Все права защищены ООО «СФЕРА»