footer.footer.section.section_theme_dark(role="footer")
  .footer__container
    .footer__contacts
      h2.footer__title Контакты
      ul.contacts-list
        li.contacts-list__item
          | По общим вопросам: 
          a.link.link_theme_dark.contacts-list__link(href="mailto:info@sfera.zone") info@sfera.zone
        li.contacts-list__item
          | Для инвесторов: 
          a.link.link_theme_dark.contacts-list__link(href="invest@sfera.zone") invest@sfera.zone
        li.contacts-list__item
          | По вопросам работы: 
          a.link.link_theme_dark.contacts-list__link(href="rabota@sfera.zone") rabota@sfera.zone
        li.contacts-list__item
          | WhatsApp основателя: 
          a.link.link_theme_dark.contacts-list__link.nowrap(href="https://api.whatsapp.com/send/?phone=420774715626") +420 776 419 030
    .footer__download-links
      h2.footer__title.color_grey Мы не будем менять мир.<br> 
        |
        | Мы перепишем код.
      ul.footer__download-links-list
        li.footer__download-links-list-item
          a.footer__download-link.button.button_theme_dark.button_type_android Скачать на Android 
        li.footer__download-links-list-item
          a.footer__download-link.button.button_theme_dark.button_type_ios Скачать на iOS
    .footer__social-links
      ul.socials-list
        li.socials-list__item
          a.socials-list__link.socials-list_type_youtube(href="#" title="Наш канал в Ютубе") YouTube
        li.socials-list__item
          a.socials-list__link.socials-list_type_tiktok(href="#" title="Мы в ТикТоке") TikTok 
        li.socials-list__item
          a.socials-list__link.socials-list_type_instagram(href="#" title="Наш Инстаграм") Instagram 
        li.socials-list__item
          a.socials-list__link.socials-list_type_vk(href="#" title="Мы ВКонтакте") VKontakte
    .footer__copyright
      p.footer__copyright-text
        a.link.link_theme_dark(href="#") Положение SFERA
      p.footer__copyright-text © Copyright 2019-2022 
        a.link.link_theme_dark(href="https://sfera.zone") https://sfera.zone
        |  — Проект SFERA | Все права защищены ООО «СФЕРА»