header.header.section.section_theme_dark(role="header")
  .header__container.section__wrapper
    .logo
      a.button.button_form_circle.button_theme_image.link_hide-text(href="")
        span.button__play-video Просмотреть видео о SFERA
      a.logo__link(href="#")
        img.logo__image(src=require("Images/sfera-logo.svg"))
    nav.main-nav
      ul.main-nav__list
        li.main-nav__item.main-nav__dropdown-menu.dropdown-menu
          a.main-nav__link(href="/about.html") О проекте
          .dropdown-menu__content.main-nav__submenu
            ul.main-nav__list.main-nav__submenu-list
              li.main-nav__item
                a.main-nav__link(href="/about.html") О проекте с любовью
              li.main-nav__item
                a.main-nav__link(href="/about.html") Привет, котаны!
        li.main-nav__item 
          a.main-nav__link(href="#") Приложения
        li.main-nav__item 
          a.main-nav__link(href="#") Скачать
        li.main-nav__item 
          a.main-nav__link(href="#") Новости
        li.main-nav__item 
          a.main-nav__link(href="#") Стартапам
        li.main-nav__item 
          a.main-nav__link(href="#") Инвестиции
        li.main-nav__item 
          a.main-nav__link(href="#") Команда
      .langs
        ul.langs__list 
          li.langs__item.langs__dropdown-menu.dropdown-menu 
            a.langs__link.button.button_form_circle.button_theme_dark(href="#") RU
            .dropdown-menu__content.langs__submenu
              ul.langs__list 
                li.langs__item 
                  a.langs__link.button.button_form_circle.button_theme_dark(href="#") EN
                li.langs__item 
                  a.langs__link.button.button_form_circle.button_theme_dark(href="#") CS