header.header.section.section_theme_dark(role="header")
  .header__container.section__wrapper
    .header__links
      .header__nav
        .link-list__item__nav
          .link-list__item__video
            a.link.link_theme_dark.nav-list__link(href="#") 
            img(src=require("Images/nav-menu/unsplash_f7YQo-eYHdM.svg"))
          .link-list__item__logo
            a.link.link_theme_dark.nav-list__link(href="#")
            img(src=require("Images/nav-menu/Лого рабочий.svg"))  
        ul.nav-list
          li.link-list__item
            a.link.link_theme_dark.nav-list__link(href="#") О проекте
          li.contacts-list__item
            a.link.link_theme_dark.nav-list__link(href="#") Приложение 
          li.contacts-list__item 
            a.link.link_theme_dark.nav-list__link(href="#") Команда 
          li.link-list__item
            a.link.link_theme_dark.nav-list__link(href="#") Стартап 
          li.link-list__item
            a.link.link_theme_dark.nav-list__link(href="#") Инвестиции
          li.link-list__item
            a.link.link_theme_dark.contacts-list__link(href="#") Новости
          li.link-list__item
            a.link.link_theme_dark.contacts-list__link(href="#") Положение
        .link-list__item__leng
          .link-list__item
            a.link.link_theme_dark.contacts-list__link(href="#") 
            img(src=require("Images/nav-menu/Language.svg"))
      