@use '../../../assets/styles/abstracts/breakpoints' as breakpoints;

.apps {

  &__lead-wrapper {
    padding-top: 100px;
    padding-bottom: 147px;
  }

  &__lead-title {
    text-align: center;
    margin: 0 0 25px 0;
    padding: 0;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__list-container {
    width: 886px;
    margin: 0 auto 80px auto;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      margin: 0 40px 0 0;
      padding: 0;
      
      &:last-of-type {
        margin-right: 0;
      }
    }

    &-link {
      color: white;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    &-image {
      margin: 0;
      padding: 0;
      width: 40px;
      height: 40px;
      margin-bottom: 5px;
    }

    &-item-title {
      font-size: 16px;
      line-height: 19px;
      white-space: nowrap;
    }
  }

  /* begining of LEAD-GRID */  
  &__lead-grid {
    display: grid;
  }

  &__lead-grid > * {
    border: 1px solid red;
  }

  &__lead-icons-list-container {
    grid-area: list;
  }
  &__apps-lead-content {
    grid-area: content;
  }
  &__apps-download-links-container {
    grid-area: downloads;
  }
  &__lead-image-container {
    grid-area: image;
  }

  &__lead-grid {
    max-width: 1270px;
    min-width: 669px;
    margin: 0 auto;
    grid-template-columns: minmax(335px, 800px) minmax(238px, 1fr);
    grid-template-areas:
    "content image"
    "downloads image"
  }
  /* end of LEAD-GRID */

  &__lead-content {
    margin: 21px 0;
  }

  &__lead-text {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    margin: 0 0 29px 0;
    padding: 0;
  }

  &__lead-image-container {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    max-width: 100%;
  }

  &__lead-image-wrapper {
    /*max-width: 340px;
    max-height: 500px;*/
  }

  &__lead-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: breakpoints.$breakpoint_lg) {
  .apps {

    &__list-container {
      display: none;
    }

    &__lead-text {
      font-size: 18px;
      line-height: 22px;
    }
  }
}