.section{
  color: white;
  padding-bottom: 1px;
  background-color: black;
}
.section-apps__wrapper{
    margin: 0 auto;
    padding: 0;


    &__wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      color: white;
    }
  }

.sheet_title{
  text-align: center;
}
.apps-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
  &__item{
    display: flex;
    cursor: pointer;
  }
  &__link{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    row-gap: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  &__img{
    width: 31px;
    height: 31px;
    justify-content: center;
  }
}
.section-one{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 80px;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
.section-one__wrapper{
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: normal;
    margin:  0 auto;
    padding: 0;
  &__text-about-spheres{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-top: 100px;
  }
  &__button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 30px;
    width: 669.37px;
    height: 90px;
  }
  &__img{
    margin-top: 90px;
  }
  &__button-android{
    width: 343.69px;
    height: 70px;
    display: flex;
    column-gap: 5px;
    border: solid 2px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    color: white;
    background: linear-gradient(180deg, #28282C 0%, #000000 100%)black;
  }
  &__button-iOs{
    width: 300px;
    height: 70px;
    display: flex;
    column-gap: 4px;
    border: solid 2px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background: linear-gradient(180deg, #28282C 0%, #000000 100%)black;
    color: white;
  }
}
.section-info{
  width: 100%;
  height: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.section-info__wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 150px;
  &__block{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 100px;
    margin: 0 auto;
  }

  &__block__img{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
  }
  &__block__text{
    display: flex;
    flex-direction: column;
  }
  &__block__text-title{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px
  }
  &__block__text-explanation{

    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
}
.section-info__wrapper__block--reverse{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  column-gap: 100px;
  margin: 0 auto;
}
.swiper-text{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.swiper{
  width:100%;
  height: 498px;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}
.swiper-wrapper{
  display: flex;
  row-gap: 20px;
}
.swiper-slide{
  width: 350px;
  height: 498px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 10px;
  background: linear-gradient(180deg, #28282C 0%, #000000 100%);
  border-radius: 8px;
}
.swiper-scrollbar{

}