
<section class="lead">
  <div class="lead__container">
    <div class="lead__conteiner__text">
      <h1 class="lead__title">Скачайте приложение SFERA</h1>
      <p class="lead__subtitle">Присоединяйтесь к нам, давайте изменим мир вместе. </p>
    </div><a class="lead__link__android"><span>Скачать на Android</span></a><a class="lead__link__ios"><span>Скачать на OIS</span></a>
  </div>
  <div class="lead__image">
    <div class="lead__image__image"> </div>
    <div class="lead__image__faq"></div>
  </div>
</section>