$base-color: hsl(326, 37%, 96%);
$background:linear-gradient(180deg, #28282C 0%, #000000 100%);
.lead {
  background: #000000;
}
.lead__container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  align-content: center;
  justify-content: center;
}
.lead__conteiner__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
}
.lead__image__ios {
  margin-right: 50px;
}
.lead__image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


// .lead {
//   margin: 0 auto;
// }
// .lead__container {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   background: $background;
//   color:$base-color ;
//   padding: 70px 0;
// }
// .lead__conteiner__text {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: flex-start;
//   margin-right: 150px;
// }
.lead__title {
  font-size: 74px;
  line-height: 87px;
  font-weight: 300;
  margin-bottom: 10px;
}
.lead__subtitle {
  font-size: 36px;
  line-height: 43px;
  font-weight: 400;
}
// .lead__image {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// .lead__image__ios,
// .lead__image__android {
//   object-fit: contain;
//   width: 100%;
//   padding-right: 40px; 
// }

// .lead__button {
//   margin: 0 5px;
// }
// // @use '../../../assets/styles/abstracts/breakpoints' as breakpoints;

// @media (max-width: 1600px) {
//   .lead__conteiner__text {
//     margin-right: 40px;
//   }
//   .lead__container {
//     padding: 70px 52px;
//   }
// }
// @media (max-width: 1440px) {
//   .lead__conteiner__text {
//     margin-right: 5px;
//   }
// }