$breakpoint_bl: 1850px;
$breakpoint_bg: 1750px;
$breakpoint_bx: 1650px;
$breakpoint_xg: 1440px;
$breakpoint_xl: 1240px;
$breakpoint_lg: 992px;
$breakpoint_md: 768px;
$breakpoint_sm: 567px;
$breakpoint_xm: 360px;
$breakpoint_xs: 320px;