/* FONT */
$fontFamily: 'Inter';
$fontWeightLight: 300;
$fontWeightNormal: 400;
$fontWeightSemibold: 600;

/* TYPOGRAPHIC */
$fontSizeCommon: 24px;

$lineHeightCommon: 29px;
$lineHeightExtensive: 44px;