/* FONT */
$fontFamily: 'Inter';
$fontWeightLight: 300;
$fontWeightNormal: 400;
$fontWeightMedium: 500;
$fontWeightSemibold: 600;

/* TYPOGRAPHIC */
$fontSizeCommon: 24px;
$fontSizeLeadTitle: 36px;

$lineHeightCommon: 29px;
$lineHeightExtensive: 44px;

/* BUTTON */
$buttonFontWeight: 400;
$buttonFontSize: 24px;
$buttonTextLineHeight: 29px;
$buttonBorderRadius: 24px;