//- Подключение макета
extends Views/layouts/default.pug

//- Инициализация переменных для использования в макете
block variables
  - const title = 'SFERA'
  - const description = 'Описание страницы'

//- Подключение индивидуального скрипта страницы
append script
  script(src=require('./main.js') defer)

//- Подключение уникального стиля страницы
append style
  link(href=require('./styles.scss') rel='stylesheet')

block content
  .team
    .team__body 
      .team__column.team__column_b
        a(href='#').block-team__item.item
          span.item__logo
            img.item__logo_s(src=require('Images/team/Rectangle_191.png'))
            span.item__text
          span.item__image.ibg
            img.item__image_b
        //- .team__block.block-team 
        //-   .block-team__row
        //-     .block-team__column
        //-       a.block-team__item(href='#').item
        //-         span.item__logo
        //-           img
        //-           span.item__text 
        //-         span.item__image.ibg
        //-           img
        //-     .block-team__column
        //-       a.block-team__item(href='#').item
        //-         span.item__logo
        //-           img
        //-           span.item__text 
        //-         span.item__image.ibg
        //-           img
        //-     .block-team__column
        //-       a.block-team__item(href='#').item
        //-         span.item__logo
        //-           img
        //-           span.item__text 
        //-         span.item__image.ibg
        //-           img
        //-     .block-team__column
        //-       a.block-team__item(href='#').item
        //-         span.item__logo
        //-           img
        //-           span.item__text 
        //-         span.item__image.ibg
        //-           img
        //-     .block-team__column
        //-       a.block-team__item(href='#').item
        //-         span.item__logo
        //-           img
        //-           span.item__text 
        //-         span.item__image.ibg
        //-           img
      .team__column
        a(href='#').block-team__item.item
          span.item__logo
            img
            span
          span.item__image.ibg
            img
      .team__column
        a(href='#').block-team__item.item
          span.item__logo
            img
            span
          span.item__image.ibg
            img
      .team__column
        a(href='#').block-team__item.item
          span.item__logo
            img
            span
          span.item__image.ibg
            img
      .team__column
        a(href='#').block-team__item.item
          span.item__logo
            img
            span
          span.item__image.ibg
            img
      .team__column
        a(href='#').block-team__item.item
          span.item__logo
            img
            span
          span.item__image.ibg
            img
      .team__column
        a(href='#').block-team__item.item
          span.item__logo
            img
            span
          span.item__image.ibg
            img
      .team__column
        a(href='#').block-team__item.item
          span.item__logo
            img
            span
          span.item__image.ibg
            img
      .team__column
        a(href='#').block-team__item.item
          span.item__logo
            img
            span
          span.item__image.ibg
            img
      .team__column
        a(href='#').block-team__item.item
          span.item__logo
            img
            span
          span.item__image.ibg
            img