//- Подключение макета
extends Views/layouts/default.pug

//- Инициализация переменных для использования в макете
block variables
  - const title = 'SFERA'
  - const description = 'Описание страницы'

//- Подключение индивидуального скрипта страницы
append script
  script(src=require('./main.js') defer)

//- Подключение уникального стиля страницы
append style
  link(href=require('./styles.scss') rel='stylesheet')


block content
  -
    const team = [
      {
        name: 'Игорь',
        role: 'Основатель',
        image: '1',
      },
      {
        name: 'Карен',
        role: 'Проект-менеджер',
        image: '2',
      },
      {
        name: 'Ксения',
        role: 'Исполнительный директор',
        image: '3',
      },
      {
        name: 'Владимир',
        role: 'CTO, Golang разработчик',
        image: '4',
      },
      {
        name: 'Аубакир',
        role: 'Системный аналитик, QA-инженер',
        image: '5',
      },
      {
        name: 'Диана',
        role: 'Руководитель отдела продвижения',
        image: '6',
      },
      {
        name: 'Александр ',
        role: 'Back-end разработчик',
        image: '7',
      },
      {
        name: 'Карен',
        role: 'DevOPS',
        image: '8',
      },
      {
        name: 'Софья',
        role: 'Team lead, android разработчик',
        image: '9',
      },
      {
        name: 'Артём',
        role: 'Android разработчик',
        image: '10',
      },
      {
        name: 'Денис',
        role: 'QA-инженер',
        image: '11',
      },
      {
        name: 'Александр',
        role: 'iOS разработчик',
        image: '12',
      },
      {
        name: 'Маркуш',
        role: 'iOS разработчик',
        image: '14',
      },
      {
        name: 'Руслан',
        role: 'Back-end разработчик',
        image: '14',
      },
      {
        name: 'Андрей',
        role: 'Team lead, iOS разработчик',
        image: '15',
      },
      {
        name: 'Константин',
        role: 'Back-end разработчик',
        image: '16',
      },
      {
        name: 'Александр',
        role: 'Back-end разработчик',
        image: '17',
      },
      {
        name: 'Эдгар',
        role: 'Android разработчик',
        image: '18',
      },
      {
        name: 'Олеся',
        role: 'Копирайтер-редактор',
        image: '19',
      },
      {
        name: 'Тимур',
        role: 'Android разработчик',
        image: '21',
      },
      {
        name: 'Шохзод',
        role: 'Android разработчик',
        image: '21',
      },
      {
        name: 'Алена',
        role: 'Руководитель отдела, контент-менеджер',
        image: '22',
      },
      {
        name: 'Игнат',
        role: 'Android разработчик',
        image: '23',
      },
      {
        name: 'Руслан',
        role: 'Специалист по работе с форумами',
        image: '24',
      },
      {
        name: 'Вадим',
        role: 'Back-end разработчик',
        image: '25',
      },
      {
        name: 'Тимур',
        role: 'Android разработчик',
        image: '26',
      },
      {
        name: 'Самир',
        role: 'Back-end разработчик',
        image: '27',
      },
      {
        name: 'Елена',
        role: 'Motion дизайнер',
        image: '29',
      },
      {
        name: 'Михаил',
        role: 'iOS разработчик',
        image: '29',
      },
      {
        name: 'Марина',
        role: 'UX/UI дизайнер',
        image: '30',
      },
      {
        name: 'Даниил',
        role: 'Видеомонтажер',
        image: '32',
      },
      {
        name: 'Павел',
        role: 'iOS разработчик',
        image: '32',
      },
      {
        name: 'Лейла',
        role: 'Менеджер по маркетингу',
        image: '33',
      },
      {
        name: 'Кирилл',
        role: 'QA стажёр',
        image: '34',
      },
      {
        name: 'Виталий',
        role: 'iOS разработчик',
        image: '35',
      },
      {
        name: 'Егор',
        role: 'Android разработчик',
        image: '36',
      },
      {
        name: 'Илья',
        role: 'Android разработчик',
        image: '37',
      },
      {
        name: 'Роман',
        role: 'iOS разработчик',
        image: '38',
      },
      {
        name: 'Адмирал Генерал',
        role: 'Виновник всех багов',
        image: '39',
      }
    ]
  
  //- Верстай ниже
  //- article.team
  //-   section.team__photos.section 
  //-     .section__wrapper 
  //-       ul.team__list 
  //-         each person in team
  //-           li.team__item
  //-             img.team__photo(src= require("Images/team/" + person.image + ".jpg"), alt="Фото участника команды SFERA")
  //-             p.team__person-name= person.name + " "
  //-               span.team__person-role= person.role

  .team 
    .team__body
      each person in team
        .team__column
          .block-team__item.block-team__item_b.item
            span.item__logo
              img
              p.item__person-name= person.name + " "
                span.item__person-role=person.role
            span.item__image.ibg
              img.team__photo(src= require("Images/team/" + person.image + ".jpg"), alt="Фото участника команды SFERA")
              