@use '../../../assets/styles/abstracts/breakpoints' as breakpoints;


@mixin anim($time,$delay){transition: all $time ease $delay;}


.team {
	&__body {
		display: flex;
		margin-left: 212px;
		margin-right: 212px;
		flex-wrap:wrap;
		@media (max-width: breakpoints.$breakpoint_bl){
			margin-left: 185px;
			margin-right: 185px;
		}
		@media (max-width: breakpoints.$breakpoint_bg){
			margin-left: 152px;
			margin-right: 152px;
		}
		@media (max-width: breakpoints.$breakpoint_bx){
			margin-left: 122px;
			margin-right: 122px;
		}
		@media (max-width: breakpoints.$breakpoint_xg){
			margin-left: 92px;
			margin-right: 92px;
		}
		@media (max-width: breakpoints.$breakpoint_xl){
			margin-left: 62px;
			margin-right: 62px;
		}
		@media (max-width: breakpoints.$breakpoint_md) {
			margin-left: 32px;
			margin-right: 32px;
			&:last-child{
				align-items: center;
				justify-content: center;
			}
		}
	}
	&__column {
		flex: 0 1 17%;
		margin: 0px auto 40px auto;
		justify-content: center;
		// &:nth-child(5){
		// 	margin-right: 0;
		// }
		@media (max-width: breakpoints.$breakpoint_xg){
			flex: 0 1 22%;
		}
		@media (max-width: breakpoints.$breakpoint_xl){
			flex: 0 1 23%;
		}
		@media (max-width: breakpoints.$breakpoint_lg){
			flex: 0 1 24%;
			margin-bottom: 20px;
		}
		@media (max-width: breakpoints.$breakpoint_md){
			flex: 0 1 22.6%;
			margin: 0px 8px 16px 8px;
		}
		@media (max-width: breakpoints.$breakpoint_sm){
			flex: 0 1 29.6%;
		}
		@media (max-width: breakpoints.$breakpoint_xs){
			flex: 0 1 49%;
			margin: 0px 1px 8px 1px;
		}
	}
}

.item {
	height: 100%;
	display: block;
	position: relative;
	&__image {
	}
	&__image img {
		width: 100%;
		object-fit: cover;
		border-radius: 8px;
		object-position: center;
		box-shadow: (0px 10px 20px #000000);
	}
	&__person {
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		justify-content:center;
		top: 120px;
		left: 18px;
		.item__person-name {
			color: #fff;
			font-size: 22px;
			font-weight: 600;
			line-height: 17px;
			@media (max-width: breakpoints.$breakpoint_xl){
				font-size: 14px;
				line-height: 5px;
			}
			@media (max-width: breakpoints.$breakpoint_md){
				font-size: 14px;
				line-height: 5px;
			}
			@media (max-width: breakpoints.$breakpoint_sm){
				font-size: 10px;
			}
		}
		.item__person-role {
			display: block;
			margin: 10px 0px 0px 0px;
			font-size: 14px;
			font-weight: 600;
			line-height: 17px;
			color: #C9CED4;
			width: 71%;
			@media (max-width: breakpoints.$breakpoint_xl){
				font-size: 10px;
				width: 85%;
			}
			@media (max-width: breakpoints.$breakpoint_md){
				font-size: 10px;
				width: 85%;
			}
			@media (max-width: breakpoints.$breakpoint_sm){
				font-size: 8px;
			}
		}
		@media (max-width: breakpoints.$breakpoint_bx){
			top: 65px;
			left: 13px;
		}
		@media (max-width: breakpoints.$breakpoint_md){
			top: 65px;
			left: 13px;
		}
		@media (max-width: breakpoints.$breakpoint_xs){
			top: 50px;
			left: 10px;
		}
	}


	.logo__item{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		@include anim(0.3s,0s);
		flex-direction: column;
		justify-content:center;
		align-items: center;
		background-color: rgba(100, 194, 158, 0.5);
		border-radius: 8px;
		z-index: 2;
		opacity: 0;
		visibility: hidden;
		.logo__text{
			margin: 10px 0px 0px 0px;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 2.8px;
			text-transform: uppercase;
			color: #fff;
			@media (max-width: breakpoints.$breakpoint_md){
				font-size: 8px;
			}
		}
		.logo__image{
			max-width: 150px;
			@media (max-width: breakpoints.$breakpoint_md){
				max-width: 80px;
			}
		}
		@media (max-width: breakpoints.$breakpoint_xs){
			top: -5px;
		}
	}
	&:hover{
		.logo__item{
			opacity: 1;
			visibility: visible;
		}
	}
}